<h2>Advertisements page</h2>

{{#if allAdds.length}}
<ul>
  {{#each allAdds}}
  <li class="advertisement">
    <form action="/pages/complete" method="POST">
      <label>
        {{#if completed}}
        <input type="checkbox" checked name="completed">
        <span class="completed">{{title}}</span>
        <br>
        <span class="completed">{{text}}</span>
        {{else}}
        <input type="checkbox" name="completed">
        <span>{{title}}</span>
        <br>
        <span>{{text}}</span>
        {{/if}}
        <input type="hidden" value="{{id}}" name="id">
        <br>
        <button class="btn btn-small" type="submit">Done</button>
      </label>
    </form>
  </li>
  {{/each}}
</ul>
{{else}}
<p>No advertisements!</p>
{{/if}}
